*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body{
    margin: 0;
    padding: 0;
    background: url(/IMG/lantern\ floating\ xl.jpg);
    background-size: 100vh;
}

/* Nav Menu-------------------------------------------------- */

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
body {
    font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #e6a756 0%, #1a1008   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
  }


  @media (min-width: 768px){
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        font-size: 22px;
        font-family: 'Lobster', cursive;
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
/* Home Page---------------------------------------------- */

.text{
    width: 100%;
    margin-top:185px ;
    text-transform: uppercase;
    text-align: center;
    color: #fff

}
.text h4{
    font-size: 14px;
    font-family: 'Lobster', cursive;
}
.text h1{
    font-size: 62px;
    font-family: 'Lobster', cursive;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}
.btn{
    background-color: rgba(204, 192, 192, 0.856);
    color: #e25822;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.btn:hover{
    background-color: white;
    color: black;
}



/* Flipping Images---------------------------------------- */
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    background: url(/IMG/hong-feng-LgmKipSDwYw-unsplash.jpg);
    }
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}


/* About-------------------------------------------- */
.about{
    position: relative;
    background: url(/IMG/daniel-andrade-1sL5MMDynd4-unsplash.jpg);
    background-size:cover;
    height: 100vh;
}
.about-img{
    display: block;
    position: relative;
    margin-left: 12%;
    margin-right: 50%;
    padding-top: 5em;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}
.about-story{
    color: #fff;
    font-size: 1.2em;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 0;
    margin-left: 43.5%;
    padding-top: 1em;
    padding-right: 1.8em;
    text-shadow: .3px 2px #1a1008;
}
@media (min-width: 355px) and (max-width: 767px){
    .about{
        position: relative;
        background: url(/IMG/joshua-bartell-6vvIBTvL90A-unsplash.jpg);
        background-size: contain;
        height: 100vh;
        }
    .about-img{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        width: 50%;
        height: 45%;
        border-radius: 50%; 
    }
    .about-story{
        font-size: .97em;
        font-family: 'Lobster', cursive;
        color: #fff;
        text-align: center;
        text-indent: .75em;
        margin-top: 70%;
        margin-left: 8%;
    }
    }