*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body{
    margin: 0;
    padding: 0;
    /* background: url(/IMG/lantern\ floating\ xl.jpg); */
    background-size: 100vh;
}

/* Nav Menu-------------------------------------------------- */

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
body {
    font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #e6a756 0%, #1a1008   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    font-family: 'Griffy', cursive;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}
.active {
    display: block;
  }


  @media (min-width: 768px){
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        font-size: 22px;
        font-family: 'Griffy', cursive;
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgb(8, 5, 4);
    }
}
/* Home Page---------------------------------------------- */

.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,.2),transparent), url(/IMG/lantern\ floating\ xl.jpg);
    background-size: contain;
}

.text{
    width: 100%;
    margin-top: 9.5em;
    text-align: center;
    color: #fff;

}

.text h1{
    font-size: 62px;
    font-family: 'Griffy', cursive;
    font-weight: 100;
    letter-spacing: .1em;
    margin: 14px 0px;
    color: transparent;
    -webkit-text-stroke: 1px #cc5500;
    background: url(/IMG/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    -webkit-animation: back 10s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text h3{
    font-size: 1.3em;
    font-family: 'Griffy', cursive;
    letter-spacing: .2em;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke: 1px #cc5500;
    background: url(/IMG/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    -webkit-animation: back 10s linear infinite;
}
.btn{
    background-color: rgba(204, 192, 192, 0.900);
    color: #ff4500;
    text-shadow: 1.0px .5px #1a1008;
    font-family: 'Griffy', cursive;
    border: none;
    font-size: 15px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.btn:hover{
    background-color: white;
    color: #ff4500;
}

@media (min-width: 355px) and (max-width: 767px){
    .text{
        margin-top:10em;
        }
    .text h1{
        font-size: 3.5em;
        font-family: 'Griffy', cursive;
        font-weight: 300px;
        letter-spacing: 1.5px;
        margin: 14px 0px;
        }
}



/* Flipping Images---------------------------------------- */
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    background:rgb(51, 49, 47);
    }
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}


/* About-------------------------------------------- */
.about{
    width: 100%;
    height: 100vh;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 420px;
    border-radius: 35%;
}
.about-text{
    font-weight: 100;
    width: 550px;
    padding-left: 1em;
    text-align: center;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: #fff;
    font-size: 80px;
    font-family: 'Griffy', cursive;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #fff;
    font-size: 25px;
    font-family: 'Griffy', cursive;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Griffy', cursive;
    margin-bottom: 45px;
}
@media (min-width: 374px) and (max-width: 767px){
    /* .about{
        width: 100%;
        height: 100vh;
        background-color: #191919;
    } */
    .about img{
        height: auto;
        width: 200px;
        margin-top: -6em;
        border-radius: 35%;
    }
    .about-text{
        width: 350px;
    }
    .main{
        width: 1130px;
        max-width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .about-text h1{
        color: #fff;
        font-size: 3em;
        font-family: 'Griffy', cursive;
        text-transform: capitalize;
        text-align: center;
        margin-top: -8.9rem;
        margin-left: -4.5em;
    }
    .about-text h5{
        color: #fff;
        font-size: 1.8em;
        font-family: 'Griffy', cursive;
        text-transform: capitalize;
        text-align: center;
        margin-top: -.8em;
        margin-left: -7.5em;
        letter-spacing: 2px;
    }
    .about-text p{
        color: #fff;
        display:revert;
        padding-left: .4em;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 1em;
        font-family: 'Griffy', cursive;
    }
}
@media (min-width: 321px) and (max-width: 373.9px){
    .about{
        width: 100%;
        height: 100vh;
        background-color: #191919;
    }
    .about img{
        height: auto;
        width: 200px;
        margin-top: -5em;
        border-radius: 35%;
    }
    .about-text{
        width: 350px;
    }
    .main{
        width: 1130px;
        max-width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .about-text h1{
        color: #fff;
        font-size: 3em;
        font-family: 'Griffy', cursive;
        text-transform: capitalize;
        text-align: center;
        margin-top: -1em;
        margin-left: -4.7em;
    }
    .about-text h5{
        color: #fff;
        font-size: 1.9em;
        font-family: 'Griffy', cursive;
        text-transform: capitalize;
        text-align: center;
        margin-top: -.5em;
        margin-left: -7.5em;
        letter-spacing: 2px;
    }
    .about-text p{
        color: #fff;
        display:revert;
        padding-left: .4em;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 1em;
        font-family: 'Griffy', cursive;
    }
}
@media (min-width: 290px) and (max-width: 320px){
    .about{
        background-color: #191919;
        background-size: 100%;
        height: 100%;
    }
    .about img{
        height: auto;
        width: 200px;
        margin-top: -5em;
        }
    .about-text h1{
        font-size: 3em;
        text-align: center;
        margin-top: -1em;
        margin-left: -4.7em;
    }
    .about-text h5{
        font-size: 1.9em;
        text-align: center;
        margin-top: -.5em;
        margin-left: -7.5em;
        letter-spacing: 2px;
    }
    .about-text p{
        color: #fff;
        display:revert;
        padding-left: .4em;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 1em;
        font-family: 'Griffy', cursive;
    }
}

/* Blog/Event----------------------------------- */

.blog{
    background-color: #191919;
    height: 100vh;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5em;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.img-area{
    position: relative;
    height: 300px;
    width: 400px;
    margin: 10% auto 0;
}
.img-area img{
    position: absolute;
    left: 0;
    height: 300px;
    width: 400px;
    border-radius: 5%;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.img-area img.img-back:hover{
    opacity: 0;
    cursor: pointer;
}

.blog-spot{
    color: #cc5;
    font-size: 1.2em;
    margin-left: 2.2em;
    text-decoration: none;
}
.blog-spot:hover{
    color: crimson;
    cursor: pointer;
}
@media (min-width: 301px) and (max-width: 1120px){
    .wrapper{
        top: 50%;
        left: 50%;
        margin-top: 2.8em;
    }
    .img-area{
        position: relative;
        height: 200px;
        width: 300px;
        margin: 10% auto 0;
    }
    .img-area img{
        position: absolute;
        left: 0;
        height: 200px;
        width: 300px;
        border-radius: 5%;
        transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
    }
    .blog-spot{
    font-size: .9em;
    margin-left: 2.1em;
}
}